@CHARSET "ISO-8859-1";
body{
	padding:0px;
	background-color:#cccccc;
	font-family: Verdana, Geneva, sans-serif;
}
.container1{
	padding:0px;
	height:100%;
	width:100%;
}
.topo{
	height:250px;
	width:100%;
	text-align:center;
	margin-top:0;
	
}
.menu{
	height:100px;
	width:100%;
}
.conteudo{
	height:100%;
	width:100%;
	background-color:white;
	
}
.rodape{
	height:100px;
	width:100%;
	text-align: center;
	
}
.logo{
	height: 250px;
	width: 250px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.quadrado{
	height: 300px;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffcc66;
}
.banner{
	width: 100%;
	position: relative;
}
.campo{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
.botao{
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
.rod{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.titulo{
	width: 300px;
	height: 64px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
h2{
	width: 80%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.texto{
	width: 80%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.imag{
	width: 500px;
	height: 306px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.nome{
	width: 20%;
	float:right;
	margin-left: auto;
	margin-right:20px;
	margin-top: 10px;
	text-align: right;
}
